<!----start-container----->
<div class="header-bg" id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="logo">
                    <img src="/images/docus.png" class="img-logo" alt="Docus Logo">
                </div>
            </div>
            <div class="col-md-8">
                <div class="h_right">
                    <div class="left">
                        <ul class="menu list-unstyled">
                            <li><a href="/">Home</a></li>
                            <li><a href="/support">Support</a></li>
                            <li class="active"><a href="/user">Dashboard</a></li>
                            <li><a href="/logout"><span>LOGOUT</span></a></li>
                        </ul>
                    </div>

                    <!-- start smart_nav * -->
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item"><a href="#home">Home</a></li>
                            <li class="nav-item"><a href="#features" class="scroll">Features</a></li>
                            <li class="nav-item"><a href="#prices" class="scroll">Prices</a></li>
                            <li class="nav-item"><a href="#faq" class="scroll">Faq</a></li>
                            <li class="nav-item"><a href="#support" class="scroll">Support</a></li>
                        </ul>

                        <div class="nav-mobile"></div></nav>
                    <!-- end smart_nav * -->
                </div>

            </div>
        </div>
    </div>
</div>