<div class="contact s6" id="support">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="contact-left">
                    <h3>CONTACT ME</h3>
                    <p class="style">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                    <div class="get-intouch-left-address">
                        <p>2345 Setwant natrer, 1234</p>
                        <p>consectetur adipisicing.</p>
                        <p>2345 Setwant natrer, 1234</p>
                        <p class="style1">Email: <a href="mailto:info@mycompany.com"> info@gmail.com</a></p>
                        <p class="style2">Phone: 1.306.24565489</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-right">
                    <div class="form">
                        <form method="post" action="javascript:alert('Thank you! A monkey will produce an answer to your question :)');">
                            <input type="text" class="textbox" placeholder="Your name">
                            <input type="text" class="textbox" placeholder="Your email">
                            <div class="clearfix"></div>
                            <div>
                                <textarea placeholder="Type here your message...">Message</textarea>
                            </div>
                            <div class="span4">
                                <a href="#">
                                    <i><input type="submit" value="CONTACT ME"></i>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>